.agradecimento-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px); /* Altura da tela - altura do cabeçalho */
    margin-top: 100px;
    margin-bottom: 100px;
  }

.div-agradecimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: 	#0000CD;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
  }
    .agrags{
    color: #ffffff;
    display: inline;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
    .obg{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .gameshop{
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

      .divbotao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    }
    /* FUNDO*/
      body {
      margin: 0px;
      padding: 0px;
      background-image: url("imagens-daniel/fundo-azul.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      min-height: auto;
    }

   