/** COMUNS **/


body {
    margin: 0;
    padding: 0;
    background-image: url("imagens-daniel/fundo-azul.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


footer {
    background-color: mediumblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 10%;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

footer img {
    width: 90px;
    height: auto;
}

footer nav {
    margin-top: 1%;
}

#area-menu a:link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#area-menu a:visited {
    color: white;
    font-size: 20px;
}

#area-menu a:hover {
    color: #0000CD;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

#area-menu a:active {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

#sign-login a:link {
    margin: 10px;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #0000CD;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

#sign-login a:visited {
    margin: 10px;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #0000CD;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

#sign-login a:hover {
    margin: 10px;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #000000;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

#sign-login a:active {
    margin: 10px;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #0000CD;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

nav a:link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav a:visited {
    color: white;
    font-size: 20px;
}

nav a:hover {
    color: #0000CD;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

nav a:active {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

nav a{
    padding-left: 5px;
    padding-right: 5px;
}

/** IDs **/

#area-cabecalho {
    background-color: #0000CD;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid black 4px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    box-sizing: border-box;
    width: 100%;
}

#lateral-cabecalho {
    text-decoration: none;
    margin-bottom: 30px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 15px;
    margin-top: auto; 
}

#nome-loja {
    display: flex;
    width: 60%;
    margin-top: 100px;
    font-size: 50px;
    justify-content: center;
    justify-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/** CLASS **/

.branco {
    color: white;
}

.informativo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    width: 95%;
    font-size: 120%;
    box-sizing: border-box;
}

.texto-informativo {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.informativo h1{
    margin-left: 4%;
    display: inline-block;
    width: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0000CD;
    color: white;
    border-radius: 20px;
    align-self: flex-start;
    padding: 5px;
}

.informativo section{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.informativo img {
    width: 420px;
    margin-top: 7%;
    height: auto;
    margin-right: 5%;
    border-radius: 100px;
    border: solid black 5px;
}

/*Pagina Produto*/

.pgProdutoOrg {
  display: flex;
  margin-bottom: 10rem;
  margin-top: 8rem;
  margin-left: 6rem;
  margin-right: 6rem;
  column-gap: 15rem;
  justify-content: center;
}

.pgProdutoOrg h1, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pgProdutoOrg p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pgProdutoOrg h2 {
    background-color: #0000CD;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.imgPgProduto {
  width: 350px;
  height: 450px; 
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgPgProduto img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}


.organizacaoTxtProduto {
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
}
.nomeProduto {
  font-size: xx-large;
 color: #f5f5f5;
}
.precoProduto {
  font-weight: 600;
  font-size: larger;
  color: red;
}
.descricaoProduto {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  color: #f5f5f5;
  font-size: large;
}

.botaoCompraPgProduto {
  background-color: #0000CD;
  color: #f1f1f1;
  border-radius: 30px;
  font-size: x-large;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  text-decoration: none;
  transition: 350ms;
}
.botaoCompraPgProduto:hover {
  font-weight: 600;
  color: whitesmoke;
  width: 10rem;
  height: 3rem;
  border-radius: 25px;
}

.botaoVoltarPgProduto {
  background-color: #0000CD;
  color: #f1f1f1;
  border-radius: 30px;
  font-size: x-large;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  text-decoration: none;
  transition: 350ms;
}
.botaoVoltarProduto:hover {
  font-weight: 600;
  color: whitesmoke;
  width: 10rem;
  height: 3rem;
  border-radius: 25px;
}