.cabecalho{
    font-family: 'Trebuchet MS';
    color: white;
    padding-left: 2%;
}

.body-img{
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.discordapp.com/attachments/1370075258639618134/1370085365121024172/fundo-do-controlador-de-videogame-online-com-espaco-de-texto_1017-54747.png?ex=681e36ee&is=681ce56e&hm=3a7d0e6fa0177141a90de437f352a87508dab839470680d4d82402ac60f427fd&");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.form-width{
    font-family: 'Trebuchet MS';
    max-width: 100%;
    color: white;
}

.metodo-pagamento-img{
  width: 400px;
  height: 100px;
  object-fit: contain;
  margin-left: 10px;
  display: block;
}
