.cabecalho{
    font-family: 'Trebuchet MS';
    color: white;
    padding-left: 2%;
}

.body-img{
    margin: 0;
    padding: 0;
    background-image: url("imagens-daniel/fundo-azul.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.form-width{
    font-family: 'Trebuchet MS';
    max-width: 100%;
    color: white;
}

.metodo-pagamento-img{
  width: 400px;
  height: 100px;
  object-fit: contain;
  margin-left: 10px;
  display: block;
}

a {
    font-size: 150%;
}